<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CFDTEST</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/select2.css" rel="stylesheet">
    <link href="css/selectize.default.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/config.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/spin.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-chart.js"></script>
    <script src="js/select.js"></script>
    <script src="js/teamforgeChartsApp.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        .chart-legend li {
            list-style-type: none;
        }

        .chart-legend li span {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 5px;
        }
    </style>
</head>
<body ng-app="teamforgeChartsApp" ng-controller="cfdCtrl" ng-init="init()">
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12">
                <h1>Cumulative Flow Diagram
                    <small>({{ tracker }})</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row" ng-show="error_message">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissable">
                {{error_message}}
            </div>
        </div>
    </div>
    <div class="row" ng-show="! error_message">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12" id="planning_folder_dropdown">
                            <ui-select ng-model="$parent.planning_folder" theme="selectize"
                                       ng-disabled="loading_planning_folders"
                                       title="Choose a planning folder" ng-show="! loading_planning_folders">
                                <ui-select-match placeholder="Select or type ...">
                                    {{$select.selected._id}} ({{$select.selected.id}} - {{$select.selected.status}})
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="pf in planning_folders | filter: statusFilter | filter: $select.search">
                                    <span ng-bind-html="pf._id | highlight: $select.search"></span>
                                    (
                                    <small ng-bind-html="pf.id | highlight: $select.search"></small>
                                    -
                                    <small ng-bind-html="pf.status | highlight: $select.search"></small>
                                    )
                                </ui-select-choices>
                            </ui-select>

                            <ui-select theme="selectize"
                                       ng-model="dummy"
                                       ng-disabled="loading_planning_folders"
                                       title="Choose a planning folder" ng-show="loading_planning_folders">
                                <ui-select-match placeholder="Loading ..."></ui-select-match>
                                <ui-select-choices repeat="i in []"></ui-select-choices>
                            </ui-select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                            <input type="date" ng-model="date_from"> to <input type="date"
                                                                               ng-model="date_until">
                        </div>
                        <div class="col-sm-5 col-xs-4">
                            Filter:
                            <input type="checkbox" ng-model="planning_folder_not_started"> Not Started
                            <input type="checkbox" ng-model="planning_folder_in_progress"> In Progress
                            <input type="checkbox" ng-model="planning_folder_inactive"> Inactive
                        </div>
                        <div class="col-sm-2 col-xs-12">
                            <button class="btn btn-primary" ng-click="getDataAndDraw()">Redraw Graph</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="jumbotron" id="spinner" style="height: 400px" ng-show="loading_canvas">
                    </div>
                    <div class="row" ng-show="! loading_canvas">
                        <div class="col-sm-9">
                            <canvas id="line" class="chart chart-line" chart-data="data"
                                    chart-labels="labels" chart-series="series" chart-options="options"
                                    chart-dataset-override="datasetOverride" chart-click="onClick"
                            </canvas>                         </div>
                        <div class="col-sm-3">
                            <div id="js-legend" class="chart-legend"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>

</div>

</body>
</html>
<script type="application/javascript">
    var opts = {
        lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 0.5 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
    }
    var target = document.getElementById('spinner');
    var spinner = new Spinner(opts).spin(target);
</script>
