<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CFDTEST</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/select2.css" rel="stylesheet">
    <link href="css/selectize.default.css" rel="stylesheet">
    <link href="css/ui-grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="js/config.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/spin.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/angular-chart.js"></script>
    <script src="js/angular-checklist-model.js"></script>
    <script src="js/select.js"></script>
    <script src="js/teamforge-charts-app.js"></script>
    <script src="js/teamforge-charts-ctrl-epu.js"></script>
    <script src="js/teamforge-charts-ctrl-ui-grid.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ui-grid.js"></script>

    <style>
        .chart-legend li {
            list-style-type: none;
        }

        .chart-legend li span {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 5px;
        }
    </style>
</head>
<body ng-app="teamforgeChartsApp" ng-controller="epuCtrl" ng-init="init()">

<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12">
                <h1>Effort Per User
                    <small>({{ trackers }})</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row" ng-show="error_message">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissable">
                {{error_message}}
            </div>
        </div>
    </div>
    <div class="row" ng-show="! error_message" ng-if="!flags.plain_view">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            Date from <input type="date" ng-model="date.from" max="{{date.until | date: 'yyyy-MM-dd'}}">
                            to <input type="date"
                                      ng-model="date.until" min="{{date.from | date: 'yyyy-MM-dd'}}">
                            <button class="btn btn-primary pull-right" ng-click="getDataAndDraw()">Redraw Graph</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-6">
                            <input type="checkbox" ng-model="flags.all_users" ng-change="all_users_flag_change()"> All
                            Users
                        </div>
                        <div class="col-sm-2 col-xs-6" ng-repeat="user in users.all">
                            <input type="checkbox" checklist-model="users.selected" checklist-value="user"
                                   ng-model="checklist_value" ng-change="users_flag_change(checklist_value)"> {{user}}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="jumbotron" id="spinner" style="height: 400px" ng-show="loading_canvas">
                    </div>
                    <div class="row" ng-show="! loading_canvas">
                        <div class="col-sm-9">
                            <canvas class="chart chart-bar" chart-data="data"
                                    chart-labels="labels" chart-series="series" chart-options="options"
                                    chart-dataset-override="datasetOverride" chart-click="onClick">
                            </canvas>
                        </div>
                        <div class="col-sm-3">
                            <div id="js-legend" class="chart-legend"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row" ng-show="! error_message">
                        <div class="col-xs-12">
                            <h3>Drill Down</h3>
                        </div>
                    </div>
                    <div class="row" ng-show="! error_message">
                        <div class="col-xs-12">
                            <div ng-controller="uiGridCtrl">
                                <div id="grid1"
                                     ui-grid="{ data: myData, columnDefs: columnDefs, enableFiltering: true, showColumnFooter: true }"
                                     class="grid" ui-grid-resize-columns></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div class="row" ng-show="! error_message" ng-if="flags.plain_view">
        <div class="col-xs-12">
            <div class="jumbotron" id="spinner-plain" style="height: 400px" ng-show="loading_canvas">
            </div>
            <div class="row" ng-show="! loading_canvas">
                <div class="col-sm-9">
                    <canvas class="chart chart-bar" chart-data="data"
                            chart-labels="labels" chart-series="series" chart-options="options"
                            chart-dataset-override="datasetOverride" chart-click="onClick">
                    </canvas>
                </div>
                <div class="col-sm-3">
                    <div id="js-legend-plain" class="chart-legend"></div>
                </div>
            </div>
            <hr>
            <div class="row" ng-show="! error_message">
                <div class="col-xs-12">
                    <h3>Drill Down</h3>
                </div>
            </div>
            <div class="row" ng-show="! error_message">
                <div class="col-xs-12">
                    <div ng-controller="uiGridCtrl">
                        <div id="grid1"
                             ui-grid="{ data: myData, columnDefs: columnDefs, enableFiltering: true, showColumnFooter: true }"
                             class="grid" ui-grid-resize-columns></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row well">
        <div class="col-xs-12">
            <b>Import Timestamps:</b><span ng-repeat="(key, value) in meta_data.import_timestamps"> {{key}} : {{value| date:'dd/MM/yyyy hh:mm:ss'}}{{$last ? '' : ', '}}</span>
        </div>
        <div class="col-xs-12" ng-if="!flags.plain_view">
            <b>Direct Link:</b> {{ meta_data.direct_link}}
        </div>
    </div>
</div>
</body>
</html>
<script type="application/javascript">
    var opts = {
        lines: 13 // The number of lines to draw
        , length: 28 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 0.5 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
    }
    var target = document.getElementById('spinner');
    var spinner = new Spinner(opts).spin(target);
    var target = document.getElementById('spinner-plain');
    var spinner = new Spinner(opts).spin(target);
</script>
